<!DOCTYPE html>
<html lang="pt_br">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../node_modules/font-awesome/css/font-awesome.css" />
    <link href="../node_modules/foundation-sites/dist/css/foundation.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../node_modules/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../node_modules/slick-carousel/slick/slick-theme.css" />
    <link href="../static/app.css" rel="stylesheet">
</head>

<body>
    <div id="page">
        <header>
            <div class="row">
                <div class="small-12 large-4 columns">
                    <a href="match.html">
                        <img src="../static/img/Deeto.png" alt="Logo Deeto Web" />
                    </a>
                </div>
                <div class="small-12 large-4 large-offset-4 columns">
                    <div class="user-info float-right">
                        <img src="../static/img/user-icon.png" alt="Imagem do usuário" class="float-right user-image" />
                        <a href="profile.html" class="float-right user-name">Nome Usuário</a>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="row">
                <div class="small-12 large-8 large-centered columns">
                    <div class="content-page">
                        <h2>Raphael Ferreira</h2>
                        <hr>
                        <div class="content">
                            <div class="imgs-carousel">
                                <div class="img-container">
                                    <img src="../static/img/180320_100567710023828_7077801_n.jpg" />
                                </div>
                                <div class="img-container">
                                    <img src="../static/img/295790_460885310658731_1424601365_n.jpg" />
                                </div>
                                <div class="img-container">
                                    <img src="../static/img/10445955_761424687271457_2061674182528160427_n.jpg" />
                                </div>
                                <div class="img-container">
                                    <img src="../static/img/10891743_790508817696377_648277994954658816_n.jpg" />
                                </div>
                            </div>
                            <div class="match-controls">
                                <i class="fa fa-times fa-4x"></i>
                                <i class="fa fa-heart fa-4x"></i>
                            </div>
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <p>
                                        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o
                                        século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou
                                        para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos,
                                        como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
                                        Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens
                                        de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de
                                        editoração eletrônica como Aldus PageMaker.
                                    </p>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <ul>
                                        <li>Anime 1</li>
                                        <li>Anime 2</li>
                                        <li>Anime 3</li>
                                        <li>Anime 4</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Insira o conteúdo neste bloco -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="row">
                <div class="small-12 large-centered columns">
                    <p class="text-center">
                        Deeto &copy; 2017 - Todos os direitos reservados
                    </p>
                </div>
            </div>
        </footer>

    </div>
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/slick-carousel/slick/slick.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.imgs-carousel').slick({});
        });
    </script>
</body>

</html>