<!DOCTYPE html>
<html lang="pt_br">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="/static/css/app.css" rel="stylesheet">
</head>

<body style="background:#fff">
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">
                <img src="../static/img/Deeto.png" alt="" height="36px">
            </a>
        </div>
        <div>
          <p class="user-name navbar-text navbar-right">
            <span></span> <a href="/perfil" class="btn btn-primary">Meu Perfil</a> 
            <a class="sair btn btn-primary">SAIR</a>
          </p>
        </div>
      </div>
    </nav>
  </header>
  <main style="background:#fff">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Raphael Ferreira</h2>
          <hr>
          <div class="slider">
            <img src="http://via.placeholder.com/640x640" />
            <img src="http://via.placeholder.com/640x640" />
            <img src="http://via.placeholder.com/640x640" />
            <img src="http://via.placeholder.com/640x640" />
          </div>
          <br>
          <div class="match-controls">
            <a href="javascript:void();" class="btn btn-lg btn-danger nao-gostei">Não gostei <i class="fa fa-times"></i></a>
            <a href="javascript:void();" class="btn btn-lg btn-success gostei">Gostei <i class="fa fa-heart"></i></a>
          </div>
          <br>
          <div class="alert alert-success" role="alert" hidden></div>
          <div class="alert alert-danger" role="alert" hidden></div>
          <hr>
          <h3>Sobre Mim</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec nibh purus. Sed placerat, neque a ullamcorper
            luctus, massa est vestibulum sapien, vitae feugiat lectus erat ac libero. Mauris non felis a nulla pretium eleifend.
            Sed vitae auctor lectus. Sed congue nunc neque, non posuere felis accumsan a. Sed in nisl lectus. Suspendisse
            sed efficitur erat. Vestibulum a neque vitae nunc imperdiet dignissim et ut erat. Morbi maximus commodo rutrum.
            Quisque augue ipsum, ultricies a diam ut, placerat feugiat libero. In eleifend, ex pharetra luctus ultrices,
            sem elit dictum velit, ut eleifend magna mi ut lacus. Etiam quis mauris a nisi fermentum ultricies. Donec sem
            felis, pulvinar ut diam et, semper rutrum risus. Duis lobortis enim augue, vel tempor tellus euismod eu. Etiam
            arcu purus, pellentesque nec ex congue, vehicula condimentum quam. Suspendisse vitae nunc vel felis viverra maximus
            eget at erat. Aenean in maximus justo, non laoreet augue. Duis maximus erat in dapibus vulputate. Vestibulum
            sit amet sapien libero. Fusce faucibus aliquam accumsan. Nullam vestibulum interdum nisl vel dignissim. Fusce
            in magna rutrum, viverra orci sed, convallis ligula. Curabitur imperdiet, orci ac interdum sodales, massa mi
            fringilla libero, ut lacinia erat augue vel metus. Donec ultricies imperdiet suscipit. Sed at auctor mauris,
            eu dictum nisi.</p>
          <h3>Animes que assisto</h3>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>In malesuada nisi vel est rhoncus, ac volutpat mauris pretium.</li>
            <li>Nulla ac dui malesuada, viverra tellus et, suscipit quam.</li>
            <li>Maecenas efficitur quam sed lectus auctor, eget blandit risus semper.</li>
            <li>Phasellus tristique sapien nec nisl laoreet egestas.</li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <p class="text-center white" style="margin-top:-10px;margin-bottom:0;">Deeto &copy; Todos os direitos reservados</p>
  </footer>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
  <script src="/static/js/jquery.cloudinary.js"></script>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/auth.js"></script>
  <script src="/static/js/utils.js"></script>
  <script src="/static/js/alert.js"></script>
  <script src="/static/js/perfil.js"></script>
  <script src="/static/js/match.js"></script>
</body>

</html>