<!DOCTYPE html>
<html lang="pt_br">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../node_modules/foundation-sites/dist/css/foundation.min.css" rel="stylesheet">
    <link href="../static/app.css" rel="stylesheet">
</head>

<body>
    <div id="page">
        <header>
            <div class="row">
                <div class="small-12 large-4 columns">
                    <a href="match.html">
                        <img src="../static/img/Deeto.png" alt="Logo Deeto Web" />
                    </a>
                </div>
                <div class="small-12 large-4 large-offset-4 columns">
                    <div class="user-info float-right">
                        <img src="../static/img/user-icon.png" alt="Imagem do usuário" class="float-right user-image" />
                        <a href="#" class="float-right user-name">Nome Usuário</a>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="row">
                <div class="small-12 large-8 large-centered columns">
                    <div class="content-page">
                        <h2>Nome Usuário</h2>
                        <hr>
                        <div class="content">
                            <form>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <label for="right-label">Seu Nome</label>
                                        <input type="text" id="right-label" placeholder="">
                                    </div>
                                    <div class="small-12 columns">
                                        <label for="right-label">Descreva você</label>
                                        <textarea rows="4" cols="30"></textarea>
                                    </div>
                                    <div class="small-12 columns">
                                        <label for="right-label">Adicione algumas fotos</label>
                                    </div>
                                    <div class="small-12 medium-3 columns">
                                        <a href="#">
                                                <img src="http://via.placeholder.com/350x150?text=%2B" alt="Adicionar Nova Imagem">
                                            </a>
                                    </div>
                                    <div class="small-12 medium-3 columns">
                                        <a href="#">
                                                <img src="http://via.placeholder.com/350x150?text=%2B" alt="Adicionar Nova Imagem">
                                            </a>
                                    </div>
                                    <div class="small-12 medium-3 columns">
                                        <a href="#">
                                                <img src="http://via.placeholder.com/350x150?text=%2B" alt="Adicionar Nova Imagem">
                                            </a>
                                    </div>
                                    <div class="small-12 medium-3 columns">
                                        <a href="#">
                                                <img src="http://via.placeholder.com/350x150?text=%2B" alt="Adicionar Nova Imagem">
                                            </a>
                                    </div>
                                    <div class="small-12 columns">
                                        <br>
                                        <p class="text-center">
                                            <input type="submit" class="button primary" value="Salvar Informações">
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="row">
                <div class="small-12 large-centered columns">
                    <p class="text-center">
                        Deeto &copy; 2017 - Todos os direitos reservados
                    </p>
                </div>
            </div>
        </footer>

    </div>
</body>

</html>